.border{
    border:1px solid #333;
}
.border-radius{
    padding:2px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.container{
    margin:0px auto;
}
.search{
    width: 80%;
    margin:0px auto;
    display:flex;
    justify-content: space-between;
}
.search .search-box{
    width: 80%;
    height:30px;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    border:1px solid rgb(110, 9, 9);
}
.search .search-box:focus{
    border:1px solid rgb(133, 133, 233);
}
.search .search-button{
    width: 15%;
    height:30px;
    border-radius: 10px;
    margin: 5px;
    background-color: rgb(238, 84, 110);
    border:1px solid rgb(238, 37, 70);
}
.left {
    float:left;
    width:70vw;
    height: 90vh;
    overflow: auto;
}
.left div{
    overflow: hidden;
}
.video-container{
    display: block;
    margin:0px auto;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}
.image-container{
    display: block;
    margin:10px auto;
    background-size:cover;
    width:60%;
    height:auto;
    -moz-box-shadow: 0 0 10px #333;
    -webkit-box-shadow: 0 0 10px #333;
    box-shadow: 0 0 10px #333;
}
.content-view{
    /* position: fixed; */
    top:20px;
    left:20px;
    max-width: 100%;
}
.filename,.dirname{
    padding: 10px;
    cursor: pointer; /*to make it look like a link*/
    /* line-height: 10px; */
}
/* .filename div{
   margin:10px;
} */
.filename>i,.dirname>i{
    margin-right:5px;
}
.filename:hover,.dirname:hover{
    background-color:#026464;
}
.dirname{
    color: white;
    background-color: #008B8B;
}
.filename{
    color: white;
    background-color: #008B8B;
}
.folder-icon,.file-icon{
    color:#333;
}
.active-folder,.active-file{
    background-color:#026464;
}
.right{
    float:right;
    width:25vw;
    height: 90vh;
    overflow-x:hidden;
    overflow-y: auto;   
}
.right div{
    overflow-x: hidden;
    overflow-y: auto;
}
.back{
    /* background-color:#3CB371; */
    color:white;
    text-align: center;
    height: 40px;
    cursor: pointer;
    background-color:rgb(3, 163, 216);
}
.back:hover{
    background-color:rgb(5, 129, 170);
    color:white;
}
.back i{
    margin-top:10px;
}

@media screen and (max-width:900px){
    .search{
        width: 90%;
    }
    .search-box{
        max-width:70%;
    }
    .search .search-button{
        max-width: 10%;
        min-width: 55px;
    }
    .left{
        float: none;
        width:100vw;
        height: 45vh;
    }
    .video-container{
        /* margin: 0px 5vw; */
        max-width: 90%;
        max-height: 45vh;
    }
    .image-container{
        width:90%;
        box-shadow: 0 0 10px #333;
    }
    .right{
        margin-top:1vh;
        float:none;
        height: 45vh;
        width: 90vw;
        overflow:auto;
    }
}