<div class="body">
  <div class="search">
    <form [formGroup]="searchForm" >
      <input type="text" class="search-box" formControlName="searchText" >
      <button type="submit" class="search-button" (click)="search()">Search</button>
      <!-- <p> forms values:{{searchForm.value|json}}</p> -->
    </form>
  </div>
  <div class="">
    <!-- START show content and list of content inside this container-->
    <div class="container left content-view">
      <!--START show content-->
      <video *ngIf="showVideo" id="my-video" class="video-js vjs-default-skin" controls preload="auto" style="max-width:60vw;max-height:auto;margin-left:1vw"
        poster="MY_VIDEO_POSTER.jpg" data-setup="{}" preload autoplay>
        <source [src]="videoUrl" type="video/mp4">
        <source [src]="videoUrl" type="video/ogg">
        <source [src]="videoUrl" type="video/x-matroska">
        <source [src]="videoUrl" type="video/webm">
        <source [src]="videoUrl" type="video/avi">
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
      <div *ngIf="showPhoto" class="photo">
        <img [src]="photoUrl" style="background-size:cover;max-width:800px;max-height: 600px">
      </div>
    </div>
    <!--END show content-->

    <div class="container right border border-radius">
      <!--START show list of contents-->
      <!--used to show list of files-->
      <div *ngIf="levels>0" class="back" (click)="goBack()">
        <i class="fas fa-chevron-circle-left"></i>
        Go back</div>
      <div *ngFor="let dir of dirs;let i=index" class="dirname" (click)="openDir(dir.nameEncoded)">
        <i class="fas fa-folder"></i>
        {{dir.name}}</div>
      <div *ngFor="let file of files;let i=index" class="filename" (click)="openFile(file.nameEncoded)">
        <i class="fas fa-file"></i>
        {{file.name}}</div>
    </div>
    <!--END show list of contents-->
  </div>
  <!-- END show content and list of content inside this container-->
</div>
<!--END of body-->