.border{
    border:1px solid #333;
}
.border-radius{
    padding:2px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.container{
    margin:0px auto;
}
.search{
    width: 80%;
    margin:0px auto;
    display:flex;
    justify-content: space-between;
}
.search .search-box{
    width: 80%;
    height:30px;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    border:1px solid #222;
}
.search .search-box:focus{
    border:1px solid rgb(133, 133, 233);
}
.search .search-button{
    width: 15%;
    height:30px;
    border-radius: 10px;
    margin: 5px;
    background-color: aliceblue;
    border:1px solid #222;
}
.left {
    float:left;
    width:65%;
}
.left div{
    overflow: hidden;
}
.video-container{
    display: block;
    margin:0px auto;
    max-width: 80%;
    max-height: auto;
}
.image-container{
    display: block;
    margin:0px auto;
    background-size:cover;
    width:60%;
    height:auto;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
}
.content-view{
    /* position: fixed; */
    top:20px;
    left:20px;
    max-width: 80%;
}
.filename,.dirname{
    padding: 10px;
    cursor: pointer; /*to make it look like a link*/
    /* line-height: 10px; */
}
/* .filename div{
   margin:10px;
} */
.filename>i,.dirname>i{
    margin-right:5px;
}
.filename:hover,.dirname:hover{
    background-color:#026464;
}
.dirname{
    color: white;
    background-color: #008B8B;
}
.filename{
    color: white;
    background-color: #008B8B;
}
.folder-icon,.file-icon{
    color:#333;
}
.right{
    float:right;
    width:30vw;
    height: auto;
    overflow-x:hidden;
    overflow-y: auto;
    height: 90vh; 
}
.right div{
    overflow-x: hidden;
    overflow-y: auto;
}
.back{
    /* background-color:#3CB371; */
    color:white;
    text-align: center;
    height: 40px;
    cursor: pointer;
    background-color:rgb(3, 163, 216);
}
.back:hover{
    background-color:rgb(5, 129, 170);
    color:white;
}
.back i{
    margin-top:10px;
}

@media screen and (max-width:900px){
    .search .search-box{
        width: 70%;
    }
    .search .search-button{
        width: 10%;
        min-width: 55px;
    }
    .left{
        float: none;
        height: 45vh;
        overflow: auto;
    }
    .video-container{
        /* margin: 0px 5vw; */
        max-width: 100%;
        max-height: 45vh;
    }
    .image-container{
        width:75vw;
    }
    .right{
        float:none;
        height: 45vh;
        width: 90vw;
        overflow:auto;
    }
}