/* You can add global styles to this file, and also import other style files */
body{
    background-color:rgb(238, 84, 110);
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000080; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #FFF8DC; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2E8B57; 
}
