/* You can add global styles to this file, and also import other style files */
body{
    background-color:rgb(238, 237, 237);
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    /* background: #000080;  */
    background:#FFF8DC;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #0a0ab8; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0d0d7e; 
}
